[package]
name = "otc-server"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true


[[bin]]
name = "otc-server"
path = "src/main.rs"

[dependencies]
blockchain-utils = { workspace = true }
otc-models = { workspace = true, features = ["sqlx"] }
otc-chains = { workspace = true }
otc-protocols = { workspace = true }
otc-auth = { workspace=true }
utc = {workspace=true}
mm-websocket-server = { workspace = true }
async-trait = { workspace = true }

tokio = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio-tungstenite = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-loki = { workspace = true }
url = { workspace = true }
snafu = { workspace = true }
axum = { workspace = true }
tower-http = { workspace = true }
clap = { workspace = true }
futures-util = { workspace = true }
sqlx = { workspace = true }
uuid = { workspace = true }
chrono = { workspace = true }
dashmap = { workspace = true }
alloy = { workspace = true }
zeroize = { workspace = true }
secrecy = { workspace = true }
getrandom = { workspace = true }
bitcoin = { workspace = true }
bitcoincore-rpc-async = {workspace=true}
chainalysis-address-screener = { workspace = true }
dstack-sdk = {workspace=true}
metrics = { workspace = true }
console-subscriber = {workspace=true}
metrics-exporter-prometheus = { workspace = true }

[dev-dependencies]
sqlx = { workspace = true }
getrandom = { workspace = true }
bitcoin = { workspace = true }

[features]
test-market-makers = []
test-fast-fee-settle = []
